@use "../vars";
@use "../mixins";

.card {
  display: block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);

  &-img {
    @extend %img-cover;
    border-radius: 0;
  }

  &-title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }

  &-text {
    text-align: center;
  }
}