@use "../vars";
@use "../mixins";

.footer {
  &__top {
    margin-bottom: mixins.adaptiveValue(16, 40);

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__logo-wrapper {
    @media (max-width: 767px) {
      margin-bottom: 33px;
    }
  }

  &__logo-image {
    width: mixins.adaptiveValue(24, 40);
    height: mixins.adaptiveValue(24, 40);
  }

  &__logo {
    font-size: mixins.adaptiveValue(20, 35);
    font-weight: 700;
    line-height: 120%;
    color: var(--black-color);
  }

  &__logo_colored {
    font-size: mixins.adaptiveValue(14, 25);
    font-weight: 400;
    line-height: 120%;
    color: #81b1e9;
  }

  &__menu-wrapper,
  &__privacy-wrapper {
    justify-items: end;
  }

  &__separator {
    margin-bottom: mixins.adaptiveValue(16, 40);
    height: 1px;
    background-color: var(--black-color);
    opacity: 0.3;
  }

  &__menu {
    display: flex;

    @media (max-width: 767px) {
      justify-self: center;
    }
  }

  &__menu-link {
    margin-left: mixins.adaptiveValue(24, 40);
    font-size: mixins.adaptiveValue(18, 24);
    line-height: 120%;
    color: var(--black-color);
  }

  &__menu-link-icon {
    margin-left: mixins.adaptiveValue(8, 12);
    width: mixins.adaptiveValue(20, 28);
    height: mixins.adaptiveValue(20, 28);
  }

  &__bottom {
    @extend %d-flex-between-center;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  &__bottom-copy {
    font-size: mixins.adaptiveValue(12, 20);
  }

  &__bottom-links {
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__bottom-link {
    margin-left: mixins.adaptiveValue(16, 40);
    font-size: mixins.adaptiveValue(16, 20);
    text-decoration: underline;
    line-height: 120%;
    color: var(--black-color);

    @media (max-width: 767px) {
      margin-left: 0;
      margin-bottom: 12px;
      display: block;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}